@use "sass:math";
@import "colors";
$desk: math.div(100, 1920);

.side_header {
  display: flex;
  align-items: center;
  width: 42vw;

  @media only screen and (max-width: 600px) {
    width: 100%;
    position: relative;
    text-align: center;
  }

  .verticle_hr {
    width: 34 * $desk + vw;
    height: 160 * $desk + vw;
    background-color: $primaryRedClr;
    margin-right: 70 * $desk + vw;

    @media only screen and (max-width: 600px) {
      display: none;
    }
  }

  .labels {
    @media only screen and (max-width: 600px) {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 60 * $desk + vw;
    }

    .label,
    .next_label {
      color: $primaryHdrClr;
      font-size: 75 * $desk + vw;
      letter-spacing: -1.5px;

      @media only screen and (max-width: 600px) {
        font-size: 100 * $desk + vw;
        font-weight: 600;
        padding-bottom: 10 * $desk + vw;
        letter-spacing: 0.4vw;
      }
    }

    .next_label {
      margin-top: -1vw;

      @media only screen and (max-width: 600px) {
        margin: 0 0 0 0.8vw;
      }
    }
  }
}
